{% extends "layout.html" %}

{% block main %}
<div class="container">
    <h1 class="book-list-heading">
        We found results for:
    </h1>
    <p>
        <ul>
        {% for row in items %}
           <li>
                <p><strong>Title: </strong>{{ row["volumeInfo"]["title"] }} </p>
                <p><strong>Published: </strong>{{ row["volumeInfo"]["publishedDate"] }} </p>
                <p><strong>Written by: </strong> {{ listToString(row["volumeInfo"]["authors"]) }}</p>
                <form method="post" action="/new_book">
                    <button type="submit" class="btn btn-default border border-dark " name="new_book" id="new_book" value="{{ listToString(category) }}">Search based on this book</button>
                </form>
            </li>
        {% endfor %} 
        </ul>
    </p>
</div>
{% endblock %}
